.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.open-sans-normal-1 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

* {
  margin: 0;

  padding: 0;
}

.text-primary {
  text-align: center;
}

.dark1 {

  color: rgba(37, 36, 50, 0.5);

}

.btn-primary {
  background-color: #4E47FF;
  padding: 12px 36px;
  border: none;
  border-radius: 5px;


}
button:hover{
  background-color: yellow;
}
button a:hover{
  color: black;
}

.btn-link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
}


.header-bg {
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  height: 698px;


}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h4 {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 150px;
  font-size: 34px;
  color: #4E47FF;

}

nav button {
  margin-right: 150px;
  margin-top: 51px;

}

.clear {
  clear: both;
}


.banner {
  width: 905px;
  height: 237px;
  text-align: center;
  margin-left: 158px;
  margin-left: 117px;
  margin-right: 117px;
  margin-bottom: 152px;

  margin: 0 auto;
}

.btn-temp {
  margin-bottom: 152px;
  margin-top: 37px;
}

.header-tiltle {
  font-weight: bold;
  font-size: 65px;
}

/* main section */

.main-bg {
  background-color: rgba(78, 71, 255, 0.1);
}

.action-des {
  display: flex;
  justify-content: space-between;
  margin: 116px 173px 116px 141px;
  align-items: center;
  gap: 206px;
}

.act-img {
  width: 428px;
  height: auto;
  border-radius: 48px;

}

.act-title {
  font-size: 42px;
  font-weight: bold;
}



.des {
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 15px;
}

.productive-data {
  display: flex;
}

.productive-section {
  background-color: rgba(78, 71, 255, 0.1);
  width: 1016px;
  height: auto;
  margin: 0 auto;
  border-radius: 24px;
  margin-bottom: 137px;
}

.productive-title {
  color: #252432;
  font-size: 38px;
  font-weight: bold;
  margin-top: 60px;


}

.productive-div {
  padding: 80px 50px;
}

.productive-data {
  justify-content: space-around;
  margin-bottom: 50px;

}

.data1 {
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
}

.des1 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.head {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 50px;
}

.cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.ca-head {
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.card-des {
  font-size: 16px;
  color: #1E1E1E;

}

.ddd {
  display: flex;
  margin-top: 24px;
}

.ddd img {
  border-radius: 50%;

}

.card {
  width: 366px;
  height: 243px;
  padding: 24px;
  padding-bottom: 5px;
  background-color: #FFFFFF;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.1);
}

.card-tille {
  padding-left: 151px;
  padding-right: 149px;
  margin-bottom: 137px;
}

.hhh {
  color: #757575;
}

.ccc {
  color: #B3B3B3;
  padding-left: 40px;


}

.focus {
  width: 1140px;
  background-color: #FFFFFF;
  margin: 0 auto;
  border-radius: 14px;
  margin-top: 137px;
  margin-bottom: 92px;
}

.focus-tille {
  font-size: 50px;
  font-weight: bold;
  padding-top: 71px;

  margin-bottom: 20px;
}

.focus-des {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  font-size: 16px;
}

.tamp-- {
  margin-bottom: 10px;
}

.focus-img {
  width: 840px;
  height: auto;
  border-radius: 48px;
  margin-bottom: 71px;
  margin-left: 150px;

}

.form {
  margin-left: 150px;
  margin-right: 150px;

}


.div-coloms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.colom-tille {
  font-size: 92px;
  font-weight: bold;
  padding-top: 200px;
  padding-bottom: 200px;
}

.div-colom {
  width: 50%;
}

form label {
  display: block;
  font-size: 18px;
  font-weight: 500;

}

form input {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

form button{
  width: 100%;
  margin-top: 5px;
  margin-right: 0;
}

form textarea {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  height: 135px;
}

/* footer area */

footer{
  background-color: #FFFFFF;
  padding: 104px 455px 103px 454px;


}
footer ul li{
    list-style: none;

  display: inline; 
  margin-right: 25px;
  
  


  
}
footer ul {
  margin-left: 70px;

}
footer ul a{
  text-decoration: none;
  color: #8987A1;
    
}

.footer-tille {
  color: #4E47FF;
  font-size: 100px;
  font-weight: bold;
}

.footer-p{
  margin-bottom: 20px;
  color: #8987A1;
  font-size: 16px;
  width: 538px;
}